<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package Name="Flight Planner"
    Version="$(var.ProductVersion)"
    Manufacturer="Daan Bouwman"
    UpgradeCode="{4B3EFA40-184E-4598-BCAD-0D39D42ACD96}"
    ProductCode="*"
    Scope="perUser">

    <MajorUpgrade DowngradeErrorMessage="A newer version of Flight Planner is already installed."
      AllowSameVersionUpgrades="yes"
      Schedule="afterInstallExecute" />

    <Media Id="1" Cabinet="Product.cab" EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="assets\icons\app.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <Property Id="ARPHELPLINK" Value="https://github.com/daanbouwman19/flight-planner" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="Flight Planner" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Flight Planner" />
    </StandardDirectory>

    <Feature Id="MainApplication" Title="Flight Planner">
      <ComponentGroupRef Id="ApplicationComponents" />
      <ComponentGroupRef Id="Shortcuts" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="ApplicationComponents" Directory="INSTALLFOLDER">

      <Component Id="MainExecutable">
        <File Id="MainExeFile" Source="target\release\flight_planner.exe" />
        <RegistryValue Root="HKCU"
          Key="Software\Daan Bouwman\Flight Planner"
          Name="InstallPath"
          Type="string"
          Value="[INSTALLFOLDER]" />
      </Component>

      <Component Id="ApplicationData">
        <File Source="aircrafts.csv" />
      </Component>

    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Shortcuts" Directory="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcuts">

        <Shortcut Id="ApplicationStartMenuShortcut"
          Name="Flight Planner"
          Target="[#MainExeFile]"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppIcon" />

        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />

        <RegistryValue Root="HKCU" Key="Software\Daan Bouwman\Flight Planner" Name="installed"
          Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>